[Unit]
Description=PlexPy2InfluxDB Service
After=multi-user.target

[Service]
Type=idle
Environment=PLEXPYHOST=<host>
Environment=PLEXPYAPIKEY=<apikey>
Environment=INFLUXDBUSER=<user>
Environment=INFLUXDBPASSWORD=<password>
Environment=INFLUXDBHOST=<host>
ExecStart=/usr/bin/python <path-to-git-clone>/plexpy_influxdb_export.py
Restart=on-failure
RestartSec=15s
TimeoutSec=15s

[Install]
WantedBy=multi-user.target
